#badge span {
  font-family: "Raleway";
}

#badge {
  position: relative;
  height: 3in;
  border: 1px solid black;
}

#badge div {
  white-space: nowrap;
  text-align: center;
  width: 100%;
  position: absolute;
  line-height: 0.8;
}
#lname-d,
#sname-d {
  font-weight: bold;
}
#lname-d {
  font-size: 68pt;
  bottom: 2.05in;
}
#sname-d {
  font-size: 26pt;
  font-weight: bold;
  bottom: 1.55in;
}
#affili-d,
#pronoun-d {
  font-size: 22pt;
  bottom: 1.08in;
}
#pronoun-d {
  font-style: italic;
  bottom: 0.64in;
}
#event-d,
#location-d {
  font-size: 7pt;
  bottom: 0.29in;
  left: 0.025in;
}
#location-d {
  bottom: 0.15in;
}
.local {
  color: orange;
}

#logo1 {
  width: 92px !important;
  height: 61px;
  background-image: url("https://raw.githubusercontent.com/LSSTDESC/name-tag-guru/master/web-static/desc-logo.png");
  bottom: 0.02in;
  left: 0.1in;
}

#logo2 {
  width: 64px !important;
  height: 22px;
  background-image: url("https://raw.githubusercontent.com/LSSTDESC/name-tag-guru/master/web-static/lsstc-logo.png");
  bottom: 0.15in;
  right: 0.2in;
}
