[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = ">=0.12.3"
flask-sqlalchemy = "*"
"psycopg2" = "*"
gunicorn = "*"


[requires]

python_version = "3.9"
