<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Registration Failure</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<body>

  <div class="container">
    <h2>Registration failure</h2>
    <p>The registration process did not complete normally for {{data.first_name}} {{data.last_name}}.  It failed with error {{msg}}. This may be
    because you are already registered and the new entry was recognized
    as a duplicate.  </p>

    <p>
    You can check by going to the
    The <a href="https://confluence.slac.stanford.edu/x/ws2DFg" target="_blank">Participants tab</a> on the confluence page links to a live participant list.
    </p>
    <p>
    And have a look at the <a href="https://confluence.slac.stanford.edu/x/rM2DFg" target="_blank">agenda page</a> to check the program of our virtual meeting!
    </p>

<br />
    <div align="right">
      <i>Your Local Organizing Committee (LOC)</i>
    </div>
  </div>
</body>

</html>
