<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DESC meeting participants</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<body>

  <div class="container">
    <h2>LSST DESC Meeting Registrants</h2>
    <hr>
    <style>
      table, th, td {
	  border:1px solid black;
	  border-collapse: collapse;
	  padding: 8px;
      }
      th {
	  text-align: center;
	  background-color: #eeeeee;
	  color: #000000;
      }
    </style>

    <div class="row">
      <div class="col-md-3">
	  <table>
	    <tr>
	      <td><span style="color: red;">{{timestamp}} UTC</span></td>
	    </tr>
	  </table>
	<ul>
	  <li>{{data|length}} registered participants</li>
	  <li>{{n_in_person}} attending in-person </li>
	</ul>
      </div>

      <div class="col-md-9">
	<table>
	  <thead>
            <tr>
              <th>Site</th>
              <th># registrants</th>
            </tr>
	  </thead>
	  <tbody>
            {% for item in sites %}
            <tr>
              <td>{{item}}</td>
              <td align='right'>{{sites[item]}}</td>
            </tr>
            {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
    
    <hr>

    <h2>Registrant List:</h2>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Affiliation</th>
	  <th scope="col">Site</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.affiliation}}</td>
	  <td>{{item.site}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>
