<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DESC meeting participants</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<script>
function checkConfirmedItem(confirmed, hub){
   var r = /\d+/;
   var registerCount = parseInt(document.getElementById("registerCount").innerHTML.match(r)) + 1;
   document.getElementById("registerCount").innerHTML = registerCount + " total registered";
   if (confirmed == 'True'){
        var participantCount = parseInt(document.getElementById("participantCount").innerHTML.match(r)) + 1;
        document.getElementById("participantCount").innerHTML = participantCount + " total participants (remote + in-person and confirmed)";
        if (hub == 'UIUC'){
           var newSum = parseInt(document.getElementById("UIUC_confirmed").innerHTML.match(r)) + 1;
           document.getElementById("UIUC_confirmed").innerHTML = newSum + " confirmed";
           var remain = 50 - newSum;
           document.getElementById("UIUC_remain").innerHTML = remain + " spots remaining";
        }else if (hub == 'APC'){
           var newSum = parseInt(document.getElementById("APC_confirmed").innerHTML.match(r)) + 1;
           document.getElementById("APC_confirmed").innerHTML = newSum + " confirmed";
           var remain = 25 - newSum;
           document.getElementById("APC_remain").innerHTML = remain + " spots remaining";
        }else if (hub == 'Princeton'){
           var newSum =  parseInt(document.getElementById("Princeton_confirmed").innerHTML.match(r)) + 1;
           document.getElementById("Princeton_confirmed").innerHTML = newSum + " confirmed";
           var remain = 30 - newSum;
           document.getElementById("Princeton_remain").innerHTML = remain + " spots remaining";
        }
   } else{
        if (hub == 'None'){
        var participantCount = parseInt(document.getElementById("participantCount").innerHTML.match(r)) + 1;
        document.getElementById("participantCount").innerHTML = participantCount + " total participants (remote + in-person and confirmed)";
        var remoteCount = parseInt(document.getElementById("remoteCount").innerHTML.match(r)) + 1;
        document.getElementById("remoteCount").innerHTML = remoteCount + " remote participants";
        }
        if (hub == 'UIUC'){
           var newSum = parseInt(document.getElementById("UIUC_await").innerHTML.match(r)) + 1;
           document.getElementById("UIUC_await").innerHTML = newSum + " awaiting confirmation";
        }else if (hub == 'APC'){
           var newSum = parseInt(document.getElementById("APC_await").innerHTML.match(r)) + 1;
           document.getElementById("APC_await").innerHTML = newSum + " awaiting confirmation";
        }else if (hub == 'Princeton'){
           var newSum =  parseInt(document.getElementById("Princeton_await").innerHTML.match(r)) + 1;
           document.getElementById("Princeton_await").innerHTML = newSum + " awaiting confirmation";
       }
   }
}

function checkRemote(first_name, last_name, inperson){
  if (inperson == 'False'){
     var ID = "confirmation_" + first_name + last_name;
     var ID2 = "chosenhub_" + first_name + last_name;
     document.getElementById(ID).innerHTML = "N/A";
     document.getElementById(ID2).innerHTML = "Remote";
  }
}
</script>

<body>
  <div class="container">
    <!-- <h2>LSST DESC October 2021 Sprint Sites</h2> -->
    <!-- <br> -->
    <br>
    <h2 id="registerCount">0 total registered</h2>
    <h2 id="participantCount">0 total participants (remote + in-person and confirmed)</h2>
    <h2 id="remoteCount">0 remote participants</h2>
    <br> <br>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">UIUC</th>
          <th scope="col">APC</th>
          <th scope="col">Princeton</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="UIUC_confirmed">0 confirmed</td>
          <td id="APC_confirmed">0 confirmed</td>
          <td id="Princeton_confirmed">0 confirmed</td>
        </tr>
        <tr>
          <td id="UIUC_remain">50 spots remaining</td>
          <td id="APC_remain">25 spots remaining</td>
          <td id="Princeton_remain">30 spots remaining</td>
        </tr>
        <tr>
          <td id="UIUC_await">0 awaiting confirmation</td>
          <td id="APC_await">0 awaiting confirmation</td>
          <td id="Princeton_await">0 awaiting confirmation</td>
        </tr>
      </tbody>
    </table>
    <!-- <h2>Meeting participants</h2> -->
    <!-- <br> -->
    Note: For the "In-Person Attendance Confirmation" column in the table below:
    <li> <b>True</b> designates an in-person participant whose registration has been confirmed by their chosen sprint hub. </li>
    <li> <b>False</b> designates an in-person participant whose registration has not yet been confirmed (these will be updated during registration based on site availability).</li>
    <li> <b>N/A</b> designates remote participants (there is no limit to the number of remote participants that can attend). </li>
    <br>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Affiliation</th>
          <th scope="col">Sprint Site</th>
          <th scope="col">In-Person Attendance Confirmation</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <script>
           checkConfirmedItem('{{item.confirmed}}', '{{item.chosenhub}}');
        </script>
        <tr>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.affiliation}}</td>
          <td id="chosenhub_{{item.first_name}}{{item.last_name}}">{{item.chosenhub}}</td>
          <td id="confirmation_{{item.first_name}}{{item.last_name}}">{{item.confirmed}}</td>
        </tr>
        <script>
           checkRemote('{{item.first_name}}','{{item.last_name}}', '{{item.inperson}}');
        </script>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>
