<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DESC meeting participants</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<body>

  <div class="container">
    <h2>LSST DESC 2024 Sprint Week participants</h2>
    <!-- <br> -->
    <!-- Number of registered participants: {{data|length}} <br> -->
    {{in_person_cnt}} in-person and {{remote_cnt}} remote participants
    <br>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Affiliation</th>
	  <th scope="col">Site</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.affiliation}}</td>
	  <td>{% if item.in_person == "on" %}{{item.site}} {% else %}Remote{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>
