<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<body>

    <div class="container">
        <h2>You are registered for the DESC August 2022 collaboration meeting!</h2>
        <br>

        <div class="alert alert-info" role="alert">
            You should have received by email a confirmation of your payment from <i>maureenlowery@uchicago.edu</i>,
            with a receipt mentioning <i>SUM 2022 LSST DESC MTG</i>. If you have any questions
            regarding payment, please reach out to the LOC or ask on <a href="https://lsstc.slack.com/archives/C0176US657B">#desc-collab-meeting-hotline</a>.
        </div>

        We are looking forward to seeing you at the meeting!<br>

        <br>
        The <a href="https://confluence.slac.stanford.edu/x/w4XDF" target="_blank">Participants tab</a> on the
        confluence
        page links to a live participant list, where you can confirm your
        registration.
        <br>
        <br>
        And have a look at the <a href="https://confluence.slac.stanford.edu/x/ooXDF" target="_blank">agenda page</a> to
        check the program of our virtual meeting!
        <br>

        <br>
        <div align="right">
            <i>Your Local Organizing Committee (LOC)</i>
        </div>
    </div>
</body>

</html>