<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Proceeding to Payment</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<body>

  <div class="container">
    Your registration request has been received, now proceeding to payment. 

    <!-- Payment form from Chicago  -->
    <form id="payment_form" method="post" action='https://epayment-gateway.uchicago.edu/epayment.php' target="_blank">
      <input type="hidden" name="pmt_type" maxlength="3" value="201" />
      <input type="hidden" name="amount_paid" maxlength="5" value="5.00" />
      <input type="hidden" name="account" maxlength="15" value="desc-form" />
      <input type="hidden" name="finish_url" maxlength="60" value="https://desc-meeting-aug2022-dev.herokuapp.com" />
      <input type="hidden" name="cancel_url" maxlength="60" value="" />
      <input type="hidden" name="consumer_firstname" maxlength="20" value="{{data.first_name}}" />
      <input type="hidden" name="consumer_lastname" maxlength="50" value="{{data.last_name}}" />
    </form>
  </div>
</body>

</html>
