<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Registration Successful</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<body>

  <div class="container">
    <h2>You are registered for the DESC July 2021 virtual meeting!</h2>
    <br>
    <br>
    {{data.first_name}}, we are looking forward to seeing you at our virtual meeting!<br>

    <br>
    The <a href="https://confluence.slac.stanford.edu/x/I6qREg" target="_blank">Participants tab</a> on the confluence page links to a live participant list, where you can confirm your
    registration.
    <br>
    <br>
    And have a look at the <a href="https://confluence.slac.stanford.edu/x/OKmREg" target="_blank">agenda page</a> to check the program of our virtual meeting!
    <br>

    <br>
    <div align="right">
      <i>Your Logistics Organizing Committee (LOC)</i>
    </div>
  </div>
</body>

</html>
