<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registration Successful</title>
    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"
    />
  </head>

  <body>
    <div class="container">
      <h2>You are registered for the July 2023 DESC Meeting!</h2>
      <br />
      <br />
      {{data.first_name}}, we are looking forward to seeing you at the
      meeting!<br />

      <br />
      The
      <a href="https://confluence.slac.stanford.edu/x/ws2DFg" target="_blank"
        >Participants tab</a
      >
      on the confluence page links to a live participant list, where you can
      confirm your registration.
      <br />
      <br />
      And have a look at the
      <a href="https://confluence.slac.stanford.edu/x/Qs2DFg" target="_blank"
        >meeting page</a
      >
      for more information about the meeting!
      <br />

      <br />
      <div align="right">
        <i>Your Scientific Organizing Committee (SOC)</i>
      </div>
    </div>
  </body>
</html>
