<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Registered to the meeting</title>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<body>

<div class="container">
  <h1>You are going to the DESC meeting !</h1>
  <br>
  <br>
  {{data.first_name}}, we are looking forward to seeing you in Pittsburgh.
  <br>
  Please find travel and hotel information on the meeting <a href="https://confluence.slac.stanford.edu/display/LSSTDESC/CMU+2018+-+Logistics" target="_top">Confluence page</a>.
  <div align="right">
  <i>the LOC</i>
  </div>
</div>
</body>
</html>
